[MASTER]
ignore-patterns=_version\.py

[MESSAGES CONTROL]
disable=
    broad-exception-caught,
    duplicate-key,
    import-outside-toplevel,
    invalid-name,
    line-too-long,
    logging-fstring-interpolation,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    protected-access,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-positional-arguments,
    too-many-return-statements,
    too-many-statements

[FORMAT]
max-line-length=88
